*{
  box-sizing: border-box;
  position: center;
}

header {
  color: black;
  font-family: Arial, serif;
  font-size: 1.5em;
  text-align: center;
  padding: 1em 0;
}
h2{
  text-align: center;
  font size: 1.5em;
  color: white;
  padding: 5px 5px;
  width: 100px;
  float: right;
  position: relative;
  margin: -1px -1px auto;
}

section {
  width: 100%;
  margin: auto;
  padding: 5px 5px;
  overflow: hidden;
}

p{
  padding: 35px 5px 5px 5px;
  }

.col {
  text-align: left;
  border: 1px solid black;
  width: 33.3%;
  height: 550%;
  padding: 5px 5px;
  float: left;
}

.col1{
  margin: 5px 5px;
}
.col2{
  margin: 5px 5px;
}
.col3{
  margin: 5px 5px;
}

.col1, .col2, .col3 {
  background: lightgrey;  
}

#hone {
  background-color: #6666ff;
  border: 1px solid black;
}
#htwo {
  background-color: #009973;
  border: 1px solid black;
}
#hthree {
  background-color: #008ae6;
  border: 1px solid black;
}
/********** Responsive Framework**********/
@media  (min-width: 992px) {
.col, 
.col2, 
.col3 {
  width: 31%;
}

/********** Tablet only **********/
@media  (min-width: 768px) and (max-width: 991px) {
  .col1, 
  .col2{
    width: 48.25%;
  }
  .col3{
    width: 98%;
  }

}

/********** Mobile only **********/
@media (max-width: 767px) {
.col{
  width: 100%;
  float: none;
}
}
 
