*{
  box-sizing: border-box;
}

header {
  color: black;
  font-family: Arial, serif;
  text-align: center;
  padding: 2em 0;
}
h2{
  text-align: right;
  color: white;
}

section {
  width: 100%;
  margin:0 auto;
  padding: 5px 5px;
  overflow: hidden;
}

.col {
  text-align: left;
  border: 1px solid black;
  width: 33.3%;
  height: 500%;
  padding: 5px 5px;
  float: left;
}

.col1{
  margin: 5px 5px;
}
.col2{
  margin: 5px 5px;
}
.col3{
  margin: 5px 5px;
}

.col1, .col2, .col3 {
  background: lightgrey;  
}

#hone {
  background-color: #6666ff;
  border: 1px solid black;
}
#htwo {
  background-color: #009973;
  border: 1px solid black;
}
#hthree {
  background-color: #008ae6;
  border: 1px solid black;
}
/********** Responsive Framework**********/
@media  (min-width: 992px) {
.col, .col2, .col3 {
  width: 31%;
}

/********** Tablet only **********/
@media  (min-width: 768px) (max-width: 991px) {
  .col1, .col2{
    width: 50%;
  }
  .col3{
    width:100%;
  }

}

/********** Mobile only **********/
@media (max-width: 767px) {
.col{
  width:100%;
  float: none;
}
}
 
