
/********** Base styles **********/
* {
  box-sizing: border-box;
}
header {
  background: white;
  color: #FBFBFB;
  font-family: Arial, serif;
  text-align: center;
  padding: 2em 0;
}

h2{
  margin-bottom: 5px
  border: 1px solid black;
  font-size: 1.25em;
  padding: 5px 5px;
}

section {
  width: 94.75%;
  margin:0 auto;
  overflow: hidden;
}

.col {
  text-align: right;
  width: 33.3%;
  height: 500%;
  float: left;
}
.col1, .col2, .col3 {
  background: grey;  
}

/********** Responsive Framework**********?
/********** Desktop only **********/
@media (min-width: 992px) {
.col, .col2, .col3{
  width: 33.3%;
}

/********** Tablet only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col1, .col2{
    width: 50%;
  }
  .col3{
    width:100%;
  }

}

/********** Mobile only **********/
@media (max-width: 767px) {
.col{
  width:100%;
  float: none;
}
}
 
